@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    body{
        margin: 0 auto;
    }
    header{
        background-color: #0055b7;
        height: 120px;
    }
    .container{
        margin: 0 auto;
        width: 1140px;
    }
    .row{
        display: flex;
    }
    .logo{
        width: 15%;
        height: 120px;
    }
    .menu-principal{
        width: 60%;
        height: 120px;
    }
    .logo-inst{
        width: 25%;
        height: 120px;
    }
    .img-principal{
        margin: 25px;
        margin-left: 8px;
    }
    .img-inst{
        margin: 30px;
        margin-left: 8px;
    }
    .menu-nav{
        float: right;
        display: block;
        width: 684px;
        height: 120px;
    }
    .menu-nav > ul {
        list-style-type: none;
        overflow: hidden;
        display: block;
        width: 684px;
        height: 85px;
        padding-inline-start: 0px;
        margin: 35px 0px 0px 0px;
    }
    .menu-nav > ul > li {
        float: left;
        display: block;
    }
    .menu-nav > ul > li > a{
        color: white;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        display: block;
    }
    .barra{
        -webkit-transform: translate(0px, 37%);
        -ms-transform: translate(0px, 37%);
        transform: translate(0px, 37%);
        width: 160px;
        color: #ffffff;
        text-align: center;
        border-style: solid;
        border-width: 0px 1px 0px 1px;
        -o-border-image: image("assets/img/borde4.png") 0 1 0 1 stretch;
        border-image: image("assets/img/borde4.png") 0 1 0 1 stretch;
    }
    .primera{
        border-width: 0px 1px 0px 0px !important;
    }
    .ultima{
        border-width: 0px 0px 0px 1px !important;
    }
